# This file contains settings of DCB that can be changed in
# minetest.conf
#
# By default, all the settings are commented and not functional.
# Uncomment settings by removing the preceding #.

# Whether creative mode (fast digging of all blocks, unlimited resources) should be enabled
#creative_mode = false

# The time in seconds after which the bones of a dead player can be looted by everyone
# 0 to disable
#share_bones_time = 1200

# Whether fire should be disabled (all fire nodes will instantly disappear)
#disable_fire = false

# Whether steel tools, wool, and gold should be given to new players
#give_initial_stuff = false

# Whether the TNT mod should be enabled
#enable_tnt = <true in singleplayer, false in multiplayer>

# The radius of a TNT explosion
#tnt_radius = 3

# Check for disallowednodes priv when igniting TNT
#tnt_requires_priv = false

## Check for fglava priv when placing lava bucket
#lava_requires_priv = false

# Enable beds setting player respawn
#enable_bed_respawn = true

# Replace legacy fences (deprecated)
#replace_legacy_fences = false

# Replace legacy panes (deprecated)
#replace_legacy_panes = false

# Replace legacy walls (deprecated)
#replace_legacy_walls = false

# Enable falling icicles
#caverealms.falling_icicles = true

# Write playereffects database file periodically (0 to disable)
# Setting this value to 20, would save the file to disk every 20 seconds.
#playereffects_autosave = 0

# Spawn only peaceful mobs
#peaceful_only = false

# Disable blood
#disable_blood = false

# Mobs spawn in protected areas
#mobs_spawn_protected = true

# Remove far-away mobs
#remove_far = false

# Kick idling players
#kick_idle_players = false

# Kick player on chat spam
#kick_chat_spammers = false

# Show a message to all players when a player joins for the first time
#show_newplayer_msg = false
